<footer>
    <div class="footer-bottom responsive-hide">
        <div class="container-fluid">
            <div class="footer-widgets  pb-40">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-2">
                            <div class="footer-link">
                                <div class="footer-title">
                                    <h5>Quick  Links</h5>
                                </div>
                                <ul class="mt-20">
                                    <li><a href="/"><i class="fa fa-angle-right"></i>Home</a></li>
                                    <li><a href="about.html"><i class="fa fa-angle-right"></i>About us</a></li>
                                    <li><a href="services.html"><i class="fa fa-angle-right"></i>Services</a></li>

                                    <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact Us</a></li>

                                </ul>
                            </div> <!-- footer link -->
                        </div>
                        <div class="col-sm-2">
                            <div class="footer-link">
                                <div class="footer-title">
                                    <h5>Services</h5>
                                </div>
                                <ul class="mt-20">
                                    <li><a href="roadside-assistance.php"><i class="fa fa-angle-right"></i>Web Development</a></li>
                                    <li><a href="logistics.php"><i class="fa fa-angle-right"></i>Web Design</a></li>
                                    <li><a href="call-centre-management.php"><i class="fa fa-angle-right"></i>Website Design</a></li>
                                    <li><a href="car-registration-services.php"><i class="fa fa-angle-right"></i>Mobile Development</a></li>

                                </ul>
                            </div> <!-- footer link -->
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-info ">
                                <div class="footer-title">
                                    <h5>Contact</h5>
                                </div>
                                <ul class="mt-25">
                                    <li>
                                        <div class="single-info">

                                            <div class="content pl-35">
                                                <!--<p>  <i class="fa fa-home"></i> <strong>GMK</strong></p>-->
                                                <p>
                                                    <img src="../../assets/images/hyd-img.png" style="float: left;
margin-right: 16px; width:50px;height:50px;" />    PLOT NO 1888, 104 - ICON IRIS, INCOIS Road, Kakatiya Hills, Pragathi Nagar, Kukatpally,<br />Hyderabad, Telangana 500072 <br />
                                                    <span style="position:relative;left:64px;">Office : +91 - 9948742791 / 9848204672</span> <br />
                                                    <span style="position:relative;left:64px;"><i class="fa fa-envelope-o"></i> info@gmkinfotech.com</span>
                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-title">
                                <h5></h5>
                            </div>
                            <ul class="mt-25">

                                <li>
                                    <div class="single-info">
                                        <div class="content pl-35" style="margin-top:22px;">

                                            <!--<p> <i class="fa fa-home"></i> <strong>GMK</strong></p>-->
                                            <p>
                                                <img src="../../assets/images/bhopal-img.png" style="float: left;
margin-right: 16px; width:50px;height:50px;" />  House No - 29, MIG, Kotra Sultanabad, OPP Jeevan Jyothi hospital/SBI ATM, Bhopal,<br />Madhya Pradesh 462003 <br />
                                                <span style="position:relative;left:64px;"> Office : +91 - 9948742791 / 9848204672 </span><br />
                                                <span style="position:relative;left:64px;"><i class="fa fa-envelope-o"></i> info@gmkinfotech.com</span>
                                            </p>

                                        </div>
                                    </div>
                                </li>



                            </ul>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div>
            <div class="row">
                <div class="ft-terms">
                    <div class="col-sm-4">
                        <div class="terms-privacy">
                            <a href="https://www.unifiedinfotech.net/terms-conditions/">Terms &amp; Conditions </a> <span class="gapNew"> | </span> <a href="https://www.unifiedinfotech.net/privacy-policy/"> Privacy Policy</a> <span class="gapNew"> | </span> <a href="https://www.unifiedinfotech.net/sitemap/">Sitemap</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="copy-right">
                            <p class="align-right">© 2020 GMK Infotech Inc. All rights reserved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="social-medialink">
                        <a href="">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <!-- footer-bottom -->
            </div>
        </div>
    </div>
</footer>