

<section class="inner-banner page-banner-area page-banner-services page-banner d-flex align-items-center">

    <div class="container position-relative">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="page-banner-content pt-90 pb-90">
                    <h6 class="sub-title">
                        <div>Services</div>
                    </h6>
                    <h1 class="banner-title">
                        <div>Web and Mobile Services</div>
                    </h1>
                </div> <!-- banner content -->
            </div>
        </div>
    </div>
    <div class="page-banner-shape-one">
        <img src="../../assets/images/page-banner-shape-1.png" alt="Shape" />

    </div>
    <div class="page-banner-shape-tow">
        <img src="../../assets/images/page-banner-shape-2.png" alt="Shape" />

    </div>
</section>
<section class="main-page-header">
    <div class="container">
        <div class="page-header-content">

            <h1>Web and Mobile Software Development Services</h1>
            <p>A successful offshore software application development company since 1997, providing a full <br /> range
                of website and mobile app development, games development, IoT, AR-VR and other IT <br /> services and
                solutions globally.</p>
        </div>
    </div>
</section>
<!----------------------------------------------Mobile Development------------------------------------------------------------->



<section class="wwd-service-section left-section" style="margin-bottom:30px">
    <div class="container-box">
        <div class="wwd-service-bg">
            <div class="row no-gutters">
                <div class="col-sm-6 order-2">
                    <div class="service-content">
                        <h2>Mobile Apps Development</h2>
                        <p>From B2B or B2E apps for enterprises, small businesses, and startups, we have a proven track
                            record of offering high-impact, result driven and engaging mobile application development
                            services. IndiaNIC is a top mobile app development company that is renowned for delivering
                            native Android app development, native iOS app development, hybrid and cross-platform app
                            development services to build next-gen mobile applications using the latest technology
                            stack.</p>
                        <div class="technology-icon">
                            <span><a href=""><img src="../../assets/images/gm-technology-ios.svg" width="26" height="32"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/gm-technology-android2.svg" border="0" width="29"
                                    height="32"></a></span>
                            <span><a href=""><img src="../../assets/images/gm-technology-react2x.svg" width="32" height="29"
                                    border="0"></a></span> <span><a href=""><img
                                    src="../../assets/images/gm-technology-swift2x.svg" border="0" width="29" height="32"></a></span>
                            <span><a href=""><img src="../../assets/images/gm-technology-ionic2x.svg" width="32" height="29"
                                    border="0"></a></span>
                        </div>
                        <div class="service-points">
                            <ul class="two-col">
                                <li>Native iOS App Development</li>
                                <li>Native Android App Development</li>
                                <li>Cross-platform App Development</li>
                                <li>Hybrid App Development</li>
                                <li>Wearable App Development</li>
                                <li>React Native App Development</li>
                                <li>Xamarin App Development</li>
                                <li>Flutter App Development</li>
                            </ul>
                        </div>
                        <div class="green-btn"><a href="">Learn More </a></div>
                    </div>
                </div>
                <div class="col-sm-6 order-1">
                    <div class="service-img">
                        <img src="../../assets/images/mobile-dev.jpg" alt="" class="tech-dev-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<!----------------------------------------------Web Development------------------------------------------------------------->



<section class="wwd-service-section left-section m-t-100" style="margin-bottom:30px; ">
    <div class="container-box">
        <div class="wwd-service-bg">
            <div class="row no-gutters">
                <div class="col-sm-6 order-1">
                    <div class="service-img">
                        <img src="../../assets/images/web-dev.jpg" alt="" class="tech-dev-img" width="700" height="700">
                    </div>
                </div>
                <div class="col-sm-6 order-2">
                    <div class="service-content webdev-service-content">
                        <h2>Web Development</h2>
                        <p>Being a leading website application development company, our certified developers have
                            unparalleled expertise in working with the latest web technologies to deliver custom web
                            solutions. Whether creating a web presence for your company, an information hub for your
                            business or empowering your apps/IoT devices through backend- IndiaNIC does it all by
                            covering a wide spectrum of web solutions and framework.</p>
                        <div class="technology-icon">
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-angular-js.svg" width="32" height="29" border="0"></a></span>

                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-php.svg" width="26" height="32"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-microsoft-dot-net1x.svg" border="0"
                                        width="29" height="32"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-wordpress.svg" width="32"
                                        height="29" border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-joomla.svg" border="0" width="29"
                                        height="32"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-drupal.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-cake-php.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-magento.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-html5.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-mango-db.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-code-igniter.svg" width="32"
                                        height="29" border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-node-js.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-ms-sql.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-zend.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/web-dev/ic-technology-shopify-plus.svg" width="32"
                                        height="29" border="0"></a></span>

                        </div>
                        <div class="service-points">
                            <ul class="two-col">
                                <li>Custom Website Development</li>
                                <li>Web Application Development</li>
                                <li>eCommerce Store Development</li>
                                <li>Custom CRM/ERP Software Apps</li>
                                <li>Full-Stack Development</li>
                                <li>Responsive Web Apps</li>
                                <li>Progressive Web Apps</li>
                                <li>Bespoke CMS Development</li>
                            </ul>
                        </div>
                        <div class="green-btn"><a href="">Learn More </a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!----------------------------------------------UI/ UX Development------------------------------------------------------------->



<section class="wwd-service-section left-section m-t-100" style="margin-bottom:30px">
    <div class="container-box">
        <div class="wwd-service-bg">
            <div class="row no-gutters">
                <div class="col-sm-6 order-2">
                    <div class="service-content">
                        <h2>UI/UX Design</h2>
                        <p>UI/UX design is the catalyst behind the success of any web or mobile app. IndiaNIC is a
                            leading web design and mobile app design agency with a knack of turning great ideas into
                            meaningful interactions. Starting from conceptualization, information architecture, visual
                            identity, and UX design; hire UI/UX designers from IndiaNIC for timely delivery of appealing
                            websites and mobile apps resulting maximum user engagement.</p>
                        <div class="technology-icon">
                            <span><a href=""><img src="../../assets/images/ui-ux/ic-technology-sketch.svg" width="26" height="32"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/ui-ux/ic-technology-photoshop.svg" border="0"
                                    width="29" height="32"></a></span>
                            <span><a href=""><img src="../../assets/images/ui-ux/ic-technology-adobe-illustrator.svg" width="32"
                                        height="29" border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/ui-ux/ic-technology-invision.svg" border="0" width="29"
                                        height="32"></a></span>
                            <span><a href=""><img src="../../assets/images/ui-ux/ic-technology-figma.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/ui-ux/ic-technology-adobe-xd.svg" width="32" height="29"
                                        border="0"></a></span>
                            <span><a href=""><img src="../../assets/images/ui-ux/ic-technology-axure.svg" width="32" height="29"
                                        border="0"></a></span>
                        </div>
                        <div class="service-points">
                            <ul class="two-col">
                                <li>Wireframes Designing</li>
                                <li>Strategic Design Consulting</li>
                                <li>High/Low fidelity Prototype</li>
                                <li>Mobile App Design</li>
                                <li>Responsive Web Design</li>
                                <li>Information Architecture</li>
                                <li>UX Analysis</li>
                                <li>UI Design</li>
                            </ul>
                        </div>
                        <div class="green-btn"><a href="">Learn More </a></div>
                    </div>
                </div>
                <div class="col-sm-6 order-1">
                    <div class="service-img">
                        <img _ngcontent-c4=""
                            src="https://d1i2cp4a5c819e.cloudfront.net/wp-content/uploads/2020/01/img-services-ui-ux-design.png"
                            alt="" width="700" height="700">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!----------------------------------------------QA Development------------------------------------------------------------->



<section class="wwd-service-section left-section m-t-100" style="margin-bottom:30px">
    <div class="container-box">
        <div class="wwd-service-bg">
            <div class="row no-gutters">
                <div class="col-sm-6 order-2">
                    <div class="service-content">
                        <h2>Quality Assurance (QA)</h2>
                        <p>We keep Quality Assurance (QA) and software testing services at the core of our ecosystem.
                            IndiaNIC has proven testing experts whose confidence helps in faster releases with
                            uncompromised quality. We perform various tests such as Functional, GUI, Usability,
                            Security, Database testing, Cross-platform, Cross-browser, Accessibility, etc. Our QA
                            experts work with DevOps tools and automated build testing techniques for faster delivery.
                            With us, you will have full access to QA reports to stay updated about test results having
                            all the details.</p>
                        <div class="technology-icon">
                            <span><a href=""><img src="../../assets/images/gm-technology-ios.svg" width="26" height="32"
                                        border="0"></a></span>
                                         <span><a href=""><img
                                    src="../../assets/images/gm-technology-android2.svg" border="0" width="29"
                                    height="32"></a></span>
                            <span><a href=""></a><img src="../../assets/images/gm-technology-react2x.svg" width="32" height="29"
                                    border="0"></span> <span><a href=""><img
                                    src="../../assets/images/gm-technology-swift2x.svg" border="0" width="29" height="32"></a></span>
                            <span><a href=""><img src="../../assets/images/gm-technology-ionic2x.svg" width="32" height="29"
                                    border="0"></a></span>
                        </div>
                        <div class="service-points">
                            <ul class="two-col">
                                <li>QA Documentation</li>
                                <li>Manual QA Testing</li>
                                <li>Web Testing Automation</li>
                                <li>Mobile App Testing</li>
                                <li>Mobile Testing Automation</li>
                                <li>Performance Testing</li>
                                <li>API Testing Automation</li>
                                <li>Expert QA Consultation</li>
                            </ul>
                        </div>
                        <div class="green-btn"><a href="">Learn More </a></div>
                    </div>
                </div>
                <div class="col-sm-6 order-1">
                    <div class="service-img">
                        <img _ngcontent-c4=""
                            src="https://d1i2cp4a5c819e.cloudfront.net/wp-content/uploads/2020/01/img-services-ui-ux-design.png"
                            alt="" width="700" height="700">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>