<header class="" >

    <nav class="navbar navbar-expand-md sticky-top sticky"  (scroll)="onWindowScroll($event);" [ngClass]="bs.bgclassnav? 'bgclassnav' : ''">

        <div class="container-fluid quote-wrap">
            <div class="navbar-header col-md-4">
                <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand logo-light" routerLink="/">
                    Change Experts
                </a>
            </div>
            <div class="col-md-8" style="float: right;">
                <nav class="navbar navbar-default navbar-mobile bootsnav on" style="float: right;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="active">
                            <a  routerLink="/how-we-work" data-hover="Home">How we work <span></span></a></li>
                            
                         
                            <!-- <li>
                            <a href="#" data-hover="About">About <span></span></a>
                            </li> -->
                            <li style="cursor: pointer;" class="dropdown megamenu-fw" >
                                <a class="dropdown-toggle" data-toggle="dropdown">Our Services <span></span></a>
                                <ul class="dropdown-menu megamenu-content animated" role="menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="row mega-title"><span  class="menu-icon icon-ic-mobile-mobile"></span> Our Services</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Mobile App</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a routerLink="/native-ios">Native iOS Apps</a></li>
                                                        <li><a routerLink="/native-android">Native Android Apps</a></li>
                                                        <li><a routerLink="/cross-platform">Cross Platform</a></li>
                                                        <li><a routerLink="/hybrid-apps">Hybrid Apps</a></li>
                                                        <li><a routerLink="/pwa">PWA</a></li>
                                                    </ul>
                                                </div>
                                            </div><!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Web Development</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a routerLink="/enterprise-solutions">Enterprise Solutions</a></li>
                                                        <li><a routerLink="/ecommerce">ECommerce</a></li>
                                                        <li><a routerLink ="/cms">CMS</a></li>
                                                        <li><a routerLink="/api-backend">API & Backend</a></li>
                                                        <li><a routerLink="/custom-development">Custom Development</a></li>
                                                    </ul>
                                                </div>
                                            </div><!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Design</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a routerLink="/wireframe">Wireframe</a></li>
                                                        <li><a routerLink="/ui">UI UX/Design</a></li>
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Product Development</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a routerLink="/setup" >Setup</a></li>
                                                        <li><a routerLink="/continous-delivery">Continuous Delivery</a></li>
                                                       
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- end row -->
                                    </li>
                                </ul>
                            </li>
                            
                            <li>

                                <a routerLink="/technology" class="dropdown-toggle" >Technology <span></span></a>

                                
                               
                            </li>
                        
                          
                            <li><a routerLink="/portfolio" >Portfolio <span></span></a></li>
                         
                            <li><a routerLink="/Contact"  >Contact <span></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
           <!-- /.nav-collapse -->
        </div>

    </nav>
</header>
