<section class="main-page-header m-t-100">
    <div class="container">
        <div class="page-header-content">

            <h1>Designing for all taste palettes from Concept to Final Product</h1>
            <p>Simple design is a complex process. We simplify it by focusing on Challenges and Solutions followed by building functional user interfaces that keep the audience at the center.</p>
        </div>
    </div>

    <section class="main-page-header m-t-50 mid-section-bg m-t-100">
        <div class="container">
            <div class="page-header-content">
    
                <p>Blueprint of the Core</p>
                <h2 >Define & Refine</h2>
                <p>Wireframe
                    Conceptual block-based representation to uncover visual representation of key information elements</p>
             
                <div>
                    <img src="/assets/images/img-process-define-refine.jpg" style="margin-top: 48px;
                   ">
                </div>
            </div>
        </div>
    </section>


