

<section class="inner-banner page-banner-area d-flex align-items-center">

    <div class="container position-relative">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="page-banner-content pt-90 pb-90">
                    <h6 class="sub-title"><div>About Us</div></h6>
                    <h1 class="banner-title"><div>We never give up</div></h1>
                </div> <!-- banner content -->
            </div>
        </div>
    </div>
    <div class="page-banner-shape-one">
        <img src="/assets/images/page-banner-shape-1.png" alt="Shape" />

    </div>
    <div class="page-banner-shape-tow">
        <img src="/assets/images/page-banner-shape-2.png" alt="Shape" />

    </div>
</section>
<section class="main-page-header">
    <div class="container">
        <div class="page-header-content">
            <p>Award-winning Software Development Company</p>
            <h1>Our Treasure Comprises Our People, Vision &amp; Values</h1>
            <p>ChooseExpert is not only a globally recognized IT company but also a family filled with talented <br /> experts that help global brands, enterprises, mid-size businesses or even startups with <br /> innovative solutions.</p>
        </div>
    </div>
</section>

<section class="aboutus-des-sec sec-pad-50" style="margin-bottom:30px">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 mar-top-40 p-r-60">
                <h2>Who We Are</h2><div>
                    <p>ChooseExpert is not an entity, it’s a family that represents togetherness for over two decades of a successful journey. For ChooseExpertians, the definition of success is to transcend innovative ideas of people to reality with the help of our tech expertise, this is what we, as a Team, want to be remembered for!</p>
                    <p>Our vision has led ChooseExpert to become a top IT company in India &amp; USA for delivering various industry-led mobility solutions. The goal is to empower clients and businesses by creating new possibilities leveraging the technologies of today and tomorrow with the utmost quality, satisfaction, and transparency.</p>
                </div>
            </div><div class="col-12 col-md-12 col-lg-6 mar-top-40 p-r-60">
                <h2>What We Do</h2><div>
                    <p>Our enthusiasm has led us to become a top IT company in India &amp; USA for delivering various industry-led mobility solutions in web and mobile application development domains leveraging futuristic technologies like Internet of Things (IoT), AI-ML, AR-VR, Voice assistants and Voice Skills, DevOps &amp; Cloud computing, etc.</p>
                    <p>We feel empowered with our certified tech experts and our R&amp;D team who have always challenged themselves to help global clientele with a plethora of IT services and solutions. Engagement with our team guarantees our clients to save huge money on project development with faster delivery.</p>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="wraper-home-countdown" style="margin-top:0;">
    <section class="fullbody homenumbers">
        <div class="fullpage">
            <div class="wraper-home-countdown">
                <section class="w3l-stats py-lg-5 py-4" id="stats">
                    <div class="gallery-inner container py-md-5 py-4">
                        <div class="row stats-con text-white">
                            <div class="col-sm-3 col-6 stats_info counter_grid">
            
                                <p class="counter">10</p>
                                <h4>Years in the business</h4>
                            </div>
                            <div class="col-sm-3 col-6 stats_info counter_grid1">
            
                                <p class="counter">563</p>
                                <h4>Solutions delivered</h4>
                            </div>
                            <div class="col-sm-3 col-6 stats_info counter_grid mt-sm-0 mt-5">
            
                                <p class="counter">15</p>
                                <h4>Technology experts</h4>
                            </div>
                            <div class="col-sm-3 col-6 stats_info counter_grid2 mt-sm-0 mt-5">
            
                                <p class="counter">50</p>
                                <h4>Satisfied Clients</h4>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>


<section class="feature-area pt-0 pb-130">
    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6">
                <div class="feature-content mt-50">
                    <img src="/assets/images/s-faq.jpg" class="img-fluid" alt="">
                </div> <!-- feature content -->
            </div>
            <div class="col-lg-6 offset-xl-1">
                <div class="feature-items mt-45">
                    <!--<h2 class="feature-title">Why Businet?</h2>-->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="single-feature-items mt-50">
                                <div class="items-icon">
                                    <img src="/assets/images/mission.png" alt="Icon">
                                </div>
                                <div class="items-content mt-10">
                                    <h4 class="items-title mb-20">Our Mission</h4>
                                    <p>To ensure highest levels of customer satisfaction.</p>
                                </div>
                            </div> <!-- single feature items -->
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="single-feature-items mt-50">
                                <div class="items-icon">
                                    <img src="/assets/images/vision.png" alt="Icon">
                                </div>
                                <div class="items-content mt-10">
                                    <h4 class="items-title mb-20">Our Vision</h4>
                                    <p>To be the industry leader in providing <strong> Software Development and Mobile app development </strong>and various other loyalty solutions to customers across the region by setting the highest levels of customer satisfaction.</p>
                                </div>
                            </div> <!-- single feature items -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- feature items -->
            </div>
        </div> <!-- row -->
    </div>
</section>
