<p>home works!</p>

<div [ngStyle]="{'background' : 'url(../../assets/images/bg.jpg)'}" class="wraper-banner-main">

    <div class="container-fluid position-relative">
        <!-- row -->
        <div class="row">
            <div class="col-sm-9">
                <!-- banner-main -->
                <div class="banner-main commontext">
                    <!-- <p class="page-subtitle">While others create websites and apps,</p> -->
                    <p class="page-title font-weight-bold">
                        <span class="hdr"><strong>Ranked #1</strong></span>
                        <span class="txt">Web design &amp; development company in India</span>
                    </p>

                </div>
                <!-- banner-main -->
            </div>
        </div>
        <!-- row -->
    </div>

</div>

<section class="home-welcome-main-text">
    <div class="container">
        <!--<h1>Welcome To GMK Infotech</h1>-->

        <div style="float:left;">
            <h1>
                A trusted <br /> web and mobile <br /> app development company
            </h1>
            <p style="margin-top:35px;">
                GMKinoftech is a top Software and Mobile development company with the best-experienced <br /> software developers available for dedicated and framed time slots for the projects.

            </p>

            <p>
                GMKinfotech holding the best technology experts in front-end technologies like <br /> Angular, React, Vue and back-end
                technologies like Python, Node, PHP, .net and Java.
            </p>
            <p>
                We offer experienced Cross-platform mobile app developers<br /> with the latest mobile technologies like React Native, Ionic - Angular <br /> to make next-generation mobile applications as Progressive web applications (PWA).
            </p>
        </div>

        <div style="float:right;">
            <div style="border: 30px solid #fcfcfc;">
                <img src="images/thisisengineering.jpg" width="320" height="480" />
            </div>
            

        </div>

    </div>

</section>

<div class="wraper-home-countdown">
    <section class="w3l-stats py-lg-5 py-4" id="stats">
        <div class="gallery-inner container py-md-5 py-4">
            <div class="row stats-con text-white">
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <p class="counter">10</p>
                    <h4>Years in the business</h4>
                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid1">

                    <p class="counter">563</p>
                    <h4>Solutions delivered</h4>
                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid mt-sm-0 mt-5">

                    <p class="counter">15</p>
                    <h4>Technology experts</h4>
                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid2 mt-sm-0 mt-5">

                    <p class="counter">50</p>
                    <h4>Satisfied Clients</h4>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="wraper-home-services">
    <div class="container">
        <div class="home-services-box row">
            <div class="addres-box holder position-relative commontext top-border bdr-orange">
                <div class="hometxt_List">
                    <div class="icon">
                        <div class="icon-layer layer-one">
                            <img class=" ls-is-cached lazyloaded" src="https://www.unifiedinfotech.net/assets/images/New-Web-Dev-Icon.svg" alt="Web Development" width="40" height="40">
                        </div>
                    </div>
                    <div class="data">
                        <h4 class="h4">Web <br> Development</h4>
                        <p>For 10+ years now, we’ve mastered the top web technologies to deliver projects that have raked in investments. A trusted market leader in developing high performing web fronts for every business.</p>
                    </div>
                    <div class="more position-absolute">
                        <a class="btn" href="#">Explore <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="addres-box holder position-relative commontext top-border bdr-blue">
                <div class="hometxt_List">
                    <div class="icon">
                        <div class="icon-layer layer-one">
                            <img class=" ls-is-cached lazyloaded" src="https://www.unifiedinfotech.net/assets/images/New-UI-UX-Icon.svg" alt="Website Design" width="40" height="40">
                        </div>
                    </div>
                    <div class="data">
                        <h3 class="h4">Website <br> Design</h3>
                        <p>We not only keep up with the ‘design trends’ but focus on users, which makes our services the most fruitful in the entire market. Delivering excellence since 2010. </p>
                    </div>
                    <div class="more position-absolute">
                        <a class="btn" href="">Explore <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="addres-box holder position-relative commontext top-border bdr-green">
                <div class="hometxt_List">
                    <div class="icon">
                        <div class="icon-layer layer-one">
                            <img class=" ls-is-cached lazyloaded" src="https://www.unifiedinfotech.net/assets/images/New-App-Dev-Icon.svg" alt="Mobile App Development" width="40" height="40">
                        </div>
                    </div>
                    <div class="data">
                        <h3 class="h4">Website <br> Design</h3>
                        <p>We build mobile apps that are loved by users. Taking the benefits of Artificial intelligence, ML, IoT and other high-end technologies to create app masterpiece that sustains.
                    </div>
                    <div class="more position-absolute">
                        <a class="btn" href="">Explore <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- <div class="home-services-box-item col-sm-4">
                <div class="holder position-relative h-100 commontext">
                    <div class="icon">
                        <div class="icon-layer layer-one">
                            <img class=" ls-is-cached lazyloaded" src="https://www.unifiedinfotech.net/assets/images/New-Web-Dev-Icon.svg" alt="Web Development" width="40" height="40">
                        </div>
                    </div>
                    <div class="data">
                        <h3 class="h4">Web <br> Development</h3>
                        <p>For 10+ years now, we’ve mastered the top web technologies to deliver projects that have raked in investments. A trusted market leader in developing high performing web fronts for every business.</p>
                    </div>
                    <div class="more position-absolute">
                        <a class="btn" href="#">Explore <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="home-services-box-item col-sm-4">
                <div class="holder position-relative h-100 commontext">
                    <div class="icon">
                        <div class="icon-layer layer-one">
                            <img class=" ls-is-cached lazyloaded" src="https://www.unifiedinfotech.net/assets/images/New-UI-UX-Icon.svg" alt="Website Design" width="40" height="40">
                        </div>
                    </div>
                    <div class="data">
                        <h3 class="h4">Website <br> Design</h3>
                        <p>We not only keep up with the ‘design trends’ but focus on users, which makes our services the most fruitful in the entire market. Delivering excellence since 2010. </p>
                    </div>
                    <div class="more position-absolute">
                        <a class="btn" href="">Explore <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="home-services-box-item col-sm-4">
                <div class="holder position-relative h-100 commontext">
                    <div class="icon">
                        <div class="icon-layer layer-one">
                            <img class=" ls-is-cached lazyloaded" src="https://www.unifiedinfotech.net/assets/images/New-App-Dev-Icon.svg" alt="Mobile App Development" width="40" height="40">
                        </div>
                    </div>
                    <div class="data">
                        <h3 class="h4">Website <br> Design</h3>
                        <p>We not only keep up with the ‘design trends’ but focus on users, which makes our services the most fruitful in the entire market. Delivering excellence since 2010. </p>
                    </div>
                    <div class="more position-absolute">
                        <a class="btn" href="">Explore <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div> -->
        </div>


    </div>

</section>
<section class="Our process">
    <div class="container">
        <div class="small-container">
            <h2 class="heading2">Our process actively engages in<br> finding the best solution</h2>
            <h3 class="heading5">
                Agile. Transparent. Collaborative. Time Tested. <br>Our approach in product development helps you make the right choice for your users.
            </h3>
        </div>

        <div class="min-container service_pg">
            <div class="flex_wrapper space_between">
                <div class="border_box">
                    <div class="figure">
                        <img src="images/img-01.jpg" border="0" />
                    </div>

                    <h5 class="heading5">Discover</h5>
                    <div class="para">
                        We elicit requirements, perform strategic analysis and articulate your product idea into a functional prototype.
                    </div>
                </div>
                <div class="border_box">
                    <div class="figure">
                        <img src="images/img-02.jpg" border="0" />
                    </div>
                    <h5 class="heading5">Design</h5>
                    <div class="para">
                        We visualize creative ideas and materialize them into end designs tackling usability and user experience challenges. We design interfaces that renders a visually stimulating experience to the users.
                    </div>
                </div>
                <div class="border_box">
                    <div class="figure">
                        <img src="images/img-03.jpg" border="0" />
                    </div>
                    <h5 class="heading5">Engineer</h5>
                    <div class="para">
                        We leverage cutting-edge technology to build next-gen iOS, Android, Flutter, React Native, Blockchain apps and deliver immersive and memorable experiences, cost-effectively.
                    </div>
                </div>
                <div class="border_box">
                    <div class="figure">
                        <img src="images/img-04.jpg" border="0" />
                    </div>
                    <h5 class="heading5">Scale</h5>
                    <div class="para">
                        We scale business to new heights. We offer post-release support to ensure you relentlessly improve your product’s quality and retain your end users.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tech-we-work">
    <div class="container">
        <h2 class="mrg-b">Technologies we work with</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#mobile">Home</a></li>
            <li><a data-toggle="tab" href="#frontend">Front End</a></li>
            <li><a data-toggle="tab" href="#databse">Database</a></li>
            <li><a data-toggle="tab" href="#backend">Backend</a></li>
            <li><a data-toggle="tab" href="#cms">CMS</a></li>
            <li><a data-toggle="tab" href="#InfradevOps">Infra and DevOps</a></li>

        </ul>

        <div class="tab-content">
            <div class="tab-panel">
                <div id="mobile" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-ios.svg" width="39" height="48" />
                                </div>
                                <h5>iOS</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-android2.svg" width="44" height="48" />
                                </div>
                                <h5>Android</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-react2x.svg" width="48" height="43" />
                                </div>
                                <h5>React Native</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-flutter2x.svg" width="39" height="48" />
                                </div>
                                <h5>Flutter</h5>

                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-ionic2x.svg" width="48" height="48" />
                                </div>
                                <h5>Icnic</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">

                                    <img src="images/gm-technology-swift2x.svg" width="48" height="48" />
                                </div>
                                <h5>Swift</h5>
                            </a>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">

                                    <img src="images/gm-technology-kotlin2x.svg" width="48" height="48" />
                                </div>
                                <h5>Kotin</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-objectivec2x.svg" width="48" height="48" />
                                </div>
                                <h5>ObjectiveC</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-titanium2x.svg" width="48" height="42" />
                                </div>
                                <h5>Titanium</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-xamarin2x.svg" width="48" height="48" />
                                </div>
                                <h5>Xamarin</h5>
                            </a>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <div id="frontend" class="tab-pane fade">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-angular-js2x.svg" width="45" height="48" />
                                </div>
                                <h5>Angular .JS</h5>
                            </a>
                        </div>

                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-react2x.svg" width="48" height="43" />
                                </div>
                                <h5>React JS</h5>
                            </a>
                        </div>

                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-typescript2x-2.svg" width="45" height="45" />
                                </div>
                                <h5>TypeScript</h5>
                            </a>
                        </div>

                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-vue2x.svg" width="48" height="42" />
                                </div>
                                <h5>Vue</h5>

                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-wpf2x.svg" width="57" height="18" />
                                </div>
                                <h5>WPF</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">

                                    <img src="images/gm-technology-html52x.svg" width="42" height="48" />
                                </div>
                                <h5>HTML5</h5>
                            </a>
                        </div>
                      
                    </div>
                </div>
                <div id="databse" class="tab-pane fade">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-mango-db.svg" width="18" height="40" />
                                </div>
                                <h5>Mongo DB</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-my-sql2x.svg" width="50" height="54" />
                                </div>
                                <h5>MySQL</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-ms-sql2x1.svg" width="48" height="43" />
                                </div>
                                <h5>MsSQL</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-firebase2x.svg" width="37" height="55" />
                                </div>
                                <h5>Firebase</h5>

                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-realm2x.svg" width="48" height="48" />
                                </div>
                                <h5>Realm</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    
                                    <img src="images/gm-technology-dynamodb2x.svg" width="43" height="48" />
                                </div>
                                <h5>DynamoDB</h5>
                            </a>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">

                                    <img src="images/gm-technology-oracle.svg" width="128" height="16" />
                                </div>
                                <h5>Oracle</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-postgresql2x.svg" width="48" height="50" />
                                </div>
                                <h5>PostgreSQL</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-redis2x.svg" width="48" height="39" />
                                </div>
                                <h5>Redis</h5>
                            </a>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <div id="backend" class="tab-pane fade">
                    <div class="row">

                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-php2x.svg" width="60" height="29" />
                                </div>
                                <h5>PHP</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-java2x.svg" width="41" height="54" />
                                </div>
                                <h5>Java</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-microsoft-dot-net2x.svg" width="60" height="24" />
                                </div>
                                <h5>.NET</h5>

                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-node-js2x.svg" width="60" height="36" />
                                </div>
                                <h5>Node .Js</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">

                                    <img src="images/gm-technology-rails2x.svg" width="51" height="32" />
                                </div>
                                <h5>Rails</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-phthon2x.svg" width="48" height="48" />
                                </div>
                                <h5>Pyton</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="cms" class="tab-pane fade">
                    <div class="row">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-drupal2x.svg" width="42" height="48" />
                                </div>
                                <h5>Drupal</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-joomla2x.svg" width="47" height="47" />
                                </div>
                                <h5>Joomla</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-wordpress2x.svg" width="48" height="48" />
                                </div>
                                <h5>Wordpress</h5>

                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-magento2x.svg" width="41" height="48" />
                                </div>
                                <h5>Magento</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">

                                    <img src="images/gm-technology-shopify-plus2x.svg" width="42" height="48" />
                                </div>
                                <h5>Shopify</h5>
                            </a>
                        </div>
                        <div class="col-sm-1">

                        </div>
                    </div>
                </div>
                <div id="InfradevOps" class="tab-pane fade">
                    <div class="row">

                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-aws2x.svg" width="60" height="48" />
                                </div>
                                <h5>AWS</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-google-cloud2x.svg" width="48" height="39" />
                                </div>
                                <h5>Google Cloud</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-gradle2x.svg" width="54" height="39" />
                                </div>
                                <h5>Gradle</h5>

                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-jenkins2x.svg" width="40" height="54" />
                                </div>
                                <h5>Jenkins</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">

                                    <img src="images/gm-technology-appium2x.svg" width="46" height="46" />
                                </div>
                                <h5>Appium</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="icon-block gmk-sricon">
                                <div class="icon-box">
                                    <img src="images/gm-technology-selenium2x-1.svg" width="44" height="45" />
                                </div>
                                <h5>Selenium</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer-bottom responsive-hide">
        <div class="container-fluid">
            <div class="footer-widgets  pb-40">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-2">
                            <div class="footer-link">
                                <div class="footer-title">
                                    <h5>Quick  Links</h5>
                                </div>
                                <ul class="mt-20">
                                    <li><a href="/"><i class="fa fa-angle-right"></i>Home</a></li>
                                    <li><a href="about.html"><i class="fa fa-angle-right"></i>About us</a></li>
                                    <li><a href="services.html"><i class="fa fa-angle-right"></i>Services</a></li>

                                    <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact Us</a></li>

                                </ul>
                            </div> <!-- footer link -->
                        </div>
                        <div class="col-sm-2">
                            <div class="footer-link">
                                <div class="footer-title">
                                    <h5>Services</h5>
                                </div>
                                <ul class="mt-20">
                                    <li><a href="roadside-assistance.php"><i class="fa fa-angle-right"></i>Web Development</a></li>
                                    <li><a href="logistics.php"><i class="fa fa-angle-right"></i>Web Design</a></li>
                                    <li><a href="call-centre-management.php"><i class="fa fa-angle-right"></i>Website Design</a></li>
                                    <li><a href="car-registration-services.php"><i class="fa fa-angle-right"></i>Mobile Development</a></li>

                                </ul>
                            </div> <!-- footer link -->
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-info ">
                                <div class="footer-title">
                                    <h5>Contact</h5>
                                </div>
                                <ul class="mt-25">
                                    <li>
                                        <div class="single-info">

                                            <div class="content pl-35">
                                                <!--<p>  <i class="fa fa-home"></i> <strong>GMK</strong></p>-->
                                                <p>
                                                    <img src="images/hyd-img.png" style="float: left;
margin-right: 16px; width:50px;height:50px;" />    PLOT NO 1888, 104 - ICON IRIS, INCOIS Road, Kakatiya Hills, Pragathi Nagar, Kukatpally,<br />Hyderabad, Telangana 500072 <br />
                                                    <span style="position:relative;left:64px;">Office : +91 - 9948742791 / 9848204672</span> <br />
                                                    <span style="position:relative;left:64px;"><i class="fa fa-envelope-o"></i> info@gmkinfotech.com</span>
                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-title">
                                <h5></h5>
                            </div>
                            <ul class="mt-25">

                                <li>
                                    <div class="single-info">
                                        <div class="content pl-35" style="margin-top:22px;">

                                            <!--<p> <i class="fa fa-home"></i> <strong>GMK</strong></p>-->
                                            <p>
                                                <img src="images/bhopal-img.png" style="float: left;
margin-right: 16px; width:50px;height:50px;" />  House No - 29, MIG, Kotra Sultanabad, OPP Jeevan Jyothi hospital/SBI ATM, Bhopal,<br />Madhya Pradesh 462003 <br />
                                                <span style="position:relative;left:64px;"> Office : +91 - 9948742791 / 9848204672 </span><br />
                                                <span style="position:relative;left:64px;"><i class="fa fa-envelope-o"></i> info@gmkinfotech.com</span>
                                            </p>

                                        </div>
                                    </div>
                                </li>



                            </ul>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div>
            <div class="row">
                <div class="ft-terms">
                    <div class="col-sm-4">
                        <div class="terms-privacy">
                            <a href="https://www.unifiedinfotech.net/terms-conditions/">Terms &amp; Conditions </a> <span class="gapNew"> | </span> <a href="https://www.unifiedinfotech.net/privacy-policy/"> Privacy Policy</a> <span class="gapNew"> | </span> <a href="https://www.unifiedinfotech.net/sitemap/">Sitemap</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="copy-right">
                            <p class="align-right">© 2020 GMK Infotech Inc. All rights reserved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="social-medialink">
                        <a href="">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <!-- footer-bottom -->
            </div>
        </div>
    </div>
</footer>